.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
     padding: 20px 40px;
}
.price{
     color: #ff136f;
}
.buy-now-btn, .submit{
    cursor: pointer;
    color: #ffff;
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.buy-now-btn:hover{
    box-shadow: 0px 4px 32px 4px #d64e85d5; 
    transition: all 0.3s ease;
}
.categories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    border-radius: 6px;
    padding: 10px 30px;
    color: #fff;
}
.cat1{
    background-color:orange;
}
.cat2{
    background-color:orchid;
}
.cat3{
    background-color:blue;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

#subscribe{
   height: 300px; 
}
#subscribe h6{
    color: lightgray;
}